@import '../../style/_mixins';
@import '../../style/_variables';

.side-nav{
    margin-top: 1em;
    padding: 0.6em;
    box-shadow: 1px 0px 14px 0px lightgray;
    height: 100%;
    border-radius: 1em;
    margin-bottom: 1em;

    .section-title{
        padding: 30px;

        h3{
            text-align: center;
        }
    }

    .individual-category{
        ul{
            padding: 0;
        }
        .sub-items{
            text-align: center;
            margin-bottom: 0.6rem;
            list-style-type: none;

            a{
                text-decoration: none;
                color: black;

                @include underline-transition(0.5);
            }
        }
    }

    .price-filter-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
